// Success message
$success-border: rgb(12, 155, 24);
$success-background: rgb(146, 230, 153);
$success-color: rgb(0, 141, 24);
// Error message
$error-border: rgb(155, 12, 12);
$error-background: rgb(230, 146, 146);
$error-color: rgb(141, 0, 0);
// Info message
$info-border: rgb(12, 91, 155);
$info-background: rgb(146, 180, 230);
$info-color: rgb(0, 56, 141);

// Message title size
$message-title-size: 1.6em;
// Message text size
$message-text-size: 0.9em;