@import "messages";

// Page background
$body-background: rgb(223, 223, 223);
// Title container
$title-container: rgb(51, 51, 51);
// Personal data even row color
$personaldata-even-color: rgb(201, 201, 201);
// Container box shadow
$container-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Button red
$red: rgb(221, 67, 67);
// Button green
$green: rgb(68, 163, 68);
