body {
  padding: 2em;
  max-width: 180ch;
  margin-inline: auto;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

#logo {
  width: 4rem;
  margin: unset;
}

#container {
  max-width: unset;
}

table {
  width: 100%;
  border-collapse: separate;
  border-radius: 0.25rem;
  border-spacing: 0;
  border-top: 1px solid var(--primary);
}
tr {
  th {
    background: var(--primary-dark);
    color: var(--background);
    text-align: left;
    padding: 0.5em;
  }

  th,
  td {
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);

    &:first-child {
      border-left: 1px solid var(--primary);
    }
  }

  &:first-child {
    th:first-child {
      border-top-left-radius: 0.25rem;
    }
    th:last-child {
      border-top-right-radius: 0.25rem;
    }
  }
  &:last-child {
    td:first-child {
      border-bottom-left-radius: 0.25rem;
    }
    td:last-child {
      border-bottom-right-radius: 0.25rem;
    }
  }
}
th {
  font-weight: bold;
  padding-bottom: 0.5em;

  &.sort::after {
    content: "🡑";
    margin-left: 0.5em;
  }
}
td {
  padding: 0.5em;
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
}

a {
  width: max-content;
  button {
    cursor: pointer;
  }
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.change {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.dim {
  color: gray;
}
.previous {
  color: var(--red);
}
.new {
  color: var(--green);
}

.permissions {
  margin-bottom: 0.5em;

  &.added {
    color: var(--green);

    li::before {
      content: "+";
      margin-right: 0.5em;
    }
  }

  &.removed {
    color: var(--red);

    li::before {
      content: "-";
      margin-right: 0.5em;
    }
  }
}
