body {
  padding: 2em;
  max-width: 180ch;
  margin-inline: auto;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

#logo {
  width: 4rem;
  margin: unset;
}

#container {
  max-width: unset;
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
}

a {
  width: max-content;
  button {
    cursor: pointer;
  }
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.change {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.dim {
  color: gray;
}
.previous {
  color: var(--red);
}
.new {
  color: var(--green);
}

.permissions {
  margin-bottom: 0.5em;

  &.added {
    color: var(--green);

    li::before {
      content: "+";
      margin-right: 0.5em;
    }
  }

  &.removed {
    color: var(--red);

    li::before {
      content: "-";
      margin-right: 0.5em;
    }
  }
}
