@import "_vars";

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

body {
  background-color: $body-background;
  font-size: 85%;
}

.error-title,
.success-title,
.info-title {
  font-weight: bold;
  font-size: $message-title-size;
  padding-right: 10px;
}

.error-message,
.success-message,
.info-message {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: $message-text-size;
}

.success-message {
  border: 1px solid $success-border;
  background-color: $success-background;
  color: $success-color;
}

.error-message {
  border: 1px solid $error-border;
  background-color: $error-background;
  color: $error-color;
}

.info-message {
  border: 1px solid $info-border;
  background-color: $info-background;
  color: $info-color;
}

#container {
  background-color: white;
  width: 40%;
  max-height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: $container-box-shadow;
}

#img {
  height: 100%;
  width: auto;
}

#menubar {
  width: 100%;
  height: 80px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: $title-container;
}

p {
  text-align: center;
  margin: 5px;
}

b {
  font-weight: bold;
}

#content {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#logo-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#title {
  font-size: 1.5em;
}

form#loginForm {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

input.input,
button.button {
  width: 60%;
  height: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

input[type="submit"] {
  margin-top: 25px;
  width: 30%;
  height: 50px;
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
  &:hover {
    cursor: pointer;
  }
}

label {
  width: 60%;
  display: block;
  text-align: left;
}


.cancel {
  background-color: $red;
  color: white;
  border: 2px solid $red;
  &:hover {
    background-color: white;
    color: $red;
  }
}

.accept {
  background-color: $green;
  color: white;
  border: 2px solid $green;
  &:hover {
    background-color: white;
    color: $green;
  }
}

small {
  font-size: 0.7em;
}

@media only screen and (max-width: 900px) {
  #container {
    width: 100%;
  }

  #content {
    width: 100%;
    justify-content: space-around;
  }

  #logo-container {
    width: 100px;
    height: 100px;
  }

  #title {
    font-size: 1.3em;
  }
}

.login-title {
  height: 30px;
  line-height: 30px;
}
