@import "_vars";

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

input,
button,
a.cancel,
a.accept {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-color: $body-background;
  font-size: 85%;
  display: flex;
  flex-direction: column;
}

.error-title,
.success-title,
.info-title {
  font-weight: bold;
  font-size: $message-title-size;
  padding-right: 10px;
}

.error-message,
.success-message,
.info-message {
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: $message-text-size;
}

.success-message {
  color: $success-color;
}

.error-message {
  color: $error-color;
}

.info-message {
  color: $info-color;
}

#container {
  background-color: white;
  width: 40%;
  max-height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: $container-box-shadow;
  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    color: blue;
  }
  a:hover {
    text-decoration: underline;
  }
}

#menubar {
  width: 100%;
  height: 80px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: $title-container;
}

p {
  text-align: center;
  margin: 5px;
}

b {
  font-weight: bold;
}

#content {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#logo-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .img {
    width: auto;
    height: 140px;
    z-index: 999;
  }
}

#title-container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#title {
  font-size: 1.5em;
}

form#loginForm {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

input.input {
  width: 60%;
}

input.input,
button.button {
  height: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

input[type="submit"],
button[type="submit"]
{
  margin-top: 25px;
  min-height: 50px;
  font-size: 1.3em;
  border-radius: 5px;
  padding: 10px 10px;
  &:hover {
    cursor: pointer;
  }
}

label {
  width: 60%;
  display: block;
  text-align: left;
}

.cancel {
  background-color: $red;
  color: white;
  border: 2px solid $red;
  /*&:hover {
    background-color: white;
    color: $red;
  }*/
}

.accept {
  background-color: $green;
  color: white;
  border: 2px solid $green;
  /*&:hover {
    background-color: white;
    color: $green;
  }*/
}

small {
  font-size: 0.7em;
}

footer#footer {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  #container {
    width: 100%;
  }

  #content {
    width: 100%;
    justify-content: space-around;
  }

  #logo-container {
    width: 100px;
    height: 100px;
  }

  #title {
    font-size: 1.3em;
  }
}

.login-title {
  height: 30px;
  line-height: 30px;
}
