@import "_vars";

#personaldata {
  background: rgba(0,0,0,0.2);
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: .5rem;
  border-radius: .25rem;
  margin: 2em 0;

  .entry {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  .field, .value {
    padding: .5em 1em;
  }

  .value {
    font-weight: bold;
    opacity: 0.9;
  }

  .entry:nth-child(odd) {
    background: rgba(255, 255, 255, 0.025);
    border-radius: .25rem;

    &:not(:first-child) {
      margin-top: .25rem;
    }

    &:not(:last-child) {
      margin-bottom: .25rem;
    }
  }
}

@media (max-width: 400px) {
  #personaldata .entry {
    grid-template-columns: 1fr;
    gap: 0;

    .field {
      padding-bottom: 0;
      font-size: 0.9em;
    }

    .value {
      padding-top: 0;
    }
  }
}
