#personaldata {
  width: 80%;
  border: 2px dashed black;
  margin: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


#termsAndConditions {
  background: rgba(0,0,0,0.2);
  font-family: monospace;
  border-radius: .25rem;
  padding: .75rem;
  font-size: 1em;
  margin: 1em 0;
  width: 100%;
  min-height: 15em;
  max-height: 30em;
}

p {
  margin: 1em 0;
}


