doctype html
html(lang="en")
  head
    title= Käyttöoikeuspyyntö
  body
    #container
      form(action='/api/auth/requestPermissions', method='POST')
        table
          tr
            - let str = `Login to <b>${service.displayName}</b>`
            td!=str
          tr
            td
              input(type='text', name='username', placeholder='Username')
          tr
            td
              input(type='password', name='password', placeholder='Password')
              tr
            td
              input(type='hidden', name='serviceIdentifier', value=service.serviceIdentifier)
          tr
            td
              input.accept(type='submit', name='accept', value='Kirjaudu')