extends layouts/common.pug

block content
  .success-message
    span.success-text #{t("logout_YouHaveBeenLoggedOutFrom")} #{serviceName}.
  a(href="https://tko-aly.fi") #{t("logout_ReturnTo")} tko-aly.fi
