doctype html
html(lang="en")
  head
    title= "Uloskirjautuminen - TKO-äly ry"
    link(rel='stylesheet', href='/common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title Uloskirjautuminen
      #content
        .success-message
          span.success-text='Sinut on kirjattu ulos palvelusta ' + serviceName + '.'
        a(href="https://tko-aly.fi") Palaa osoitteeseen tko-aly.fi
    include partials/footer.pug