doctype html
html(lang="en")
  head
    title= "Login - TKO-äly ry"
    link(rel='stylesheet', href='/common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title Logout
      #content
        .success-message
          span.success-title="Success"
          span.success-text='You\'ve been logged out from ' + serviceName + '.'
        a(href="https://tko-aly.fi") Return to TKO-äly website