doctype html
html(lang="en")
  head
    title= "Login"
    link(rel='stylesheet', href='/styles/login.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title Logout
      #content
        h2='You\'ve been logged out from ' + serviceName
        a(href="https://tko-aly.fi") Return to TKO-äly website