extends layouts/common.pug

block content
  form#loginForm(action=submitUrl || "/reset-password", method="GET")
    p #{ t("resetPassword_choiceMessage") }
    .form-group
      button.button.accept(type="submit", name="method", value="username") #{ t("resetPassword_useUsername") }
      button.button.accept(type="submit", name="method", value="email") #{ t("resetPassword_useEmail") }
