extends layouts/common.pug

append head
  //- Redirect to /timeout in 5 minutes
  meta(http-equiv="refresh", content="300;url=/timeout")

block content
  form#loginForm(action=submitUrl || "/reset-password", method="GET")
    p #{ t("resetPassword_choiceMessage") }
    .form-group
      button.button.accept(type="submit", name="method", value="username") #{ t("resetPassword_useUsername") }
      button.button.accept(type="submit", name="method", value="email") #{ t("resetPassword_useEmail") }
