doctype html
html(lang="en")
  head
    title= "Login"
    link(rel='stylesheet', href='common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title Service error
      #content
        div.error-message
            span.error-title="Error"
            span.error-text=error