doctype html
html(lang="en")
  head
    title #{t("error_Title")} - TKO-äly ry
    link(rel='stylesheet', href='common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #container
      #menubar
        #logo-container
          img.img(src='/svg/tkoaly.svg')
        #title-container
          div#title #{t("error_Title")}
      #content
        div.error-message
            span.error-text=error
    include partials/footer.pug